@model IEnumerable<ProductDetailedDto>
    @{
    ViewData["Title"] = "Products Home";
}

        <div class="container row">

            @foreach (var product in Model)
            {
                <div class="col-4 ">
                    <div class="p-0 my-3 border">
                        <div class="card" >
                            <img src="./images/product-png-9.png" class="card-img-top" >
                            <div class="card-body">
                                <h3 class="card-title text-success">@product.Name</h3>
                                <span class="badge badge-light mb-2 "></span>
                                <p class="card-text">@Html.Raw(product.Description)</p>
                                <div class="row">
                                    <div class="col pt-1">
                                        <span style="font-size:23px;">@string.Format("{0:c}", product.Price)</span>
                                    </div>
                                    <div class="col">
                                        <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id"
                                           class="btn btn-success form-control">Details</a>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    
